.contenido-principal {
  flex: 1;
  background-color: #f0f0f0;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Globe_icon.svg/2000px-Globe_icon.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}

.opcion-solicitud {
  text-decoration: none;
  display: block;
  width: 90%;
  max-width: 300px;
  border: 1px solid #555;
  padding: 25px 10px;
  background-color: white;
  margin: 15px 0;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  border-radius: 12px;
}

.opcion-solicitud:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.opcion-solicitud .icono {
  font-size: 28px;
  display: block;
  margin-bottom: 10px;
}

.opcion-solicitud .texto-opcion {
  font-weight: bold;
  color: #555;
  font-size: 16px;
}

@media (max-width: 480px) {
  .contenido-principal {
    background-size: 90%;
  }
}
